extends layout

block content
    include navbar
    .container(style="margin:2rem auto")
        h4='Добро пожаловать '
            span(style="color:#00a9ff")= name
        h1= title
    .container(class="cards-wrapper")
        <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Создать курс</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Создать</a>
        </div>
        </div>

        <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Редактировать курсы</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Редактировать</a>
        </div>
        </div>

        <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Смотреть все курсы</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="/all-courses" class="card-link">Смотреть все</a>
        </div>
        </div>

