extends layout

block content
    .wrapper
        <nav class="navbar navbar-light bg-dark">
            <a class="navbar" href="/main" style="color:#fff">Главная</a>
            <a class="navbar" href="/all-courses" style="color:#fff">Все курсы</a>
            <a class="navbar" href="/create" style="color:#fff">Создать курс</a>
            <a class="navbar" href="/my-courses" style="color:#fff">Мои курсы</a>
            <a class="navbar" href="/" style="color:#fff">Выход</a>
        </nav>


